@import "tailwindcss";

@theme {
  --font-Poppins: "Poppins", "sans-serif";
  --animate-chegaGirando: chegaGirando 300ms ease-out forwards;

  @keyframes chegaGirando {
    0% {
      transform: translateX(-100%) rotate(-360deg);
      opacity: 0;
    }

    100% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
}
